#provision Entries
/.vagrant
/.idea

#build entries
/_*

#temporary stuff and generated ones
/node_modules
/bower_components
/supervisord.conf

/requirements.txt
/apt.txt
/npm.package.json
/bower.json

.tmp
/.sass-cache
/.tscache/
/tsd.gen.d.ts
/typings/

.project
.pydevproject
local_settings.py

*.log
*.pot
*.pyc
*.swp
*.lock
*.map
*.css
