#provision Entries
/.vagrant
/.idea
/.pycharm_helpers
/tscommand*.txt

#build entries
/_*

#temporary stuff and generated ones
/node_modules
/bower_components
/supervisord.conf

/requirements.txt
/debian.txt
/npm.package.json
/bower.json
/wsgi.py

/data
/config.json

.tmp
/.sass-cache
/.tscache/
/tsd.gen.d.ts
/typings/

.project
.pydevproject
local_settings.py

*.log
*.pot
*.pyc
*.swp
*.lock
*.map
*.css
