.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  float: left;
  overflow: display;
  pointer-events: none;
  border: 1px solid red;

  circle {
    fill-opacity: .7;
  }

  circle {
    z-index: 13;
    border: 3px solid blue;
    fill-opacity: .7;
  }

  #layer1 {
    pointer-events: painted;
  }
}