/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

.window {
  > .ui-widget-header {
    position: relative;
    font-size: 12px;

    h3 {
      margin: 0;
      cursor: pointer;
      text-align: center;
    }
    .toolbar {
      position: absolute;
      right: 3px;
      top: 0;
      margin-top: auto;
      margin-bottom: auto;

      i:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  > div.content {
    overflow: auto;
  }
}
