.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.scatterplot {
  circle {
    fill-opacity: .7;
  }

  circle.hidden {
    fill: #ccc !important;
  }

  .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
  }
}